<a href="https://colab.research.google.com/github/m-dwaipayan/CDB22DW022-Dwaipayan/blob/main/bestnotebookwins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Creating two lists
list1 = [45,64,1,7,90,32,125,88,642,2]
list2 = ['Apple','Banana','Jackfruit','Watermelon','Peach','Pomegranate']

A list is a collection of objects, which are ordered and indexed. Items can be string or numbers. The index starts with 0.

We can use the dir() function on any list to see all the operations and functions that can be done on it.

In [3]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
# Appending to a list
list1.append(45)
list2.append('Pine')

The append() allows us to add elements to the end of a list.

In [12]:
print(list1)

[45, 64, 1, 7, 90, 32, 125, 88, 642, 2, 45]

In [14]:
print(list2)

['Apple', 'Banana', 'Jackfruit', 'Watermelon', 'Peach', 'Pomegranate', 'Pine']

In [18]:
list3 = [5,6,7,8,9]

In [19]:
list3

[5, 6, 7, 8, 9]

In [22]:
# Removing all elements from a list
list3.clear()

clear() removes all elements from a list.

In [24]:
list3

[]

In [25]:
# Copying a list
x = list2.copy()

copy() copies all elements of a list onto another list.

In [26]:
x

['Apple', 'Banana', 'Jackfruit', 'Watermelon', 'Peach', 'Pomegranate', 'Pine']

In [28]:
# Counting elements in a list
list1.count(45)

2

count() returns the number of times the element is present in the list.

In [29]:
new_list2 = ['Mango','Pineapple']

In [30]:
# Extending an existing list
list2.extend(new_list2)

extend() allows to extend an existing list at the end by multiple elements from another list.

In [32]:
list2

['Apple',
 'Banana',
 'Jackfruit',
 'Watermelon',
 'Peach',
 'Pomegranate',
 'Pine',
 'Mango',
 'Pineapple']

In [33]:
# Finding an element using index
list2.index('Peach')

4

index() returns the index of the first occurance of the element passed into the index function.

In [34]:
# Inserting a new element into a specific position
list2.insert(4,'Cashew')

insert() allows us to insert a particular element at a particular position of an existing list using the index.

In [36]:
print(list2)

['Apple', 'Banana', 'Jackfruit', 'Watermelon', 'Cashew', 'Peach', 'Pomegranate', 'Pine', 'Mango', 'Pineapple']

In [38]:
# Removing an element at a specific position
list2.pop(4)

'Cashew'

pop() removes the element at the specified position mentioned in the pop().

In [40]:
print(list2)

['Apple', 'Banana', 'Jackfruit', 'Watermelon', 'Peach', 'Pomegranate', 'Pine', 'Mango', 'Pineapple']

In [41]:
list1

[45, 64, 1, 7, 90, 32, 125, 88, 642, 2, 45]

In [42]:
# Removing the first appearance of an item
list1.remove(45)

remove() removes the first appearance of the specified element from the list.

In [44]:
print(list1)

[64, 1, 7, 90, 32, 125, 88, 642, 2, 45]

In [45]:
# Reversing the order of the list 
list1.reverse()

reverse() returns the elements of a list in a reversed order.

In [46]:
list1

[45, 2, 642, 88, 125, 32, 90, 7, 1, 64]

In [47]:
# Sorting a list
list1.sort()

sort() returns the elements in an ascending order.

In [49]:
print(list1)

[1, 2, 7, 32, 45, 64, 88, 90, 125, 642]

In [50]:
# Creating a tuple
tup = (4,7,9,1,3,2)

A tuple is read-only and cannot be altered after being created.

In [53]:
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [51]:
# counting the no. of appearances of an element
tup.count(7)

1

count() returns the number of times an element is present in a tuple.

In [52]:
# Index of an element
tup.index(4)

0

index() returns the index position of the element passed into it in a tuple.

In [54]:
# Creating three set
set1 = {1,43,2,5,56,9,90}
set2 = {1,43,9}
set3 = {99,141,56,90,485}

Sets are unindexed and unordered collections of unique elements.

In [55]:
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [56]:
# Adding an element to a set
set3.add(46)

add() adds an element to an existing set only if the new element is not already present in the set.

In [58]:
print(set3)

{99, 485, 141, 46, 56, 90}

In [59]:
set4 = {1,6,'new',False}

In [60]:
# removing all elements from a set
set4.clear()

clear() empties the set.

In [62]:
print(set4)

set()

In [63]:
# Copying the set
x = set1.copy()

This copies the set.

In [65]:
print(x)

{1, 2, 5, 56, 9, 90, 43}

In [66]:
# Difference in elements between sets
diff = set1.difference(set2)

returns the elements in set1 but not in set2

In [68]:
print(diff)

{56, 2, 90, 5}

In [69]:
# Removing an item
set3.discard(141)

Discarding a specified item

In [70]:
print(set3)

{99, 485, 46, 56, 90}

In [71]:
# Intersection between two sets
inter = set1.intersection(set3)

returns the intersecting elements between two sets.

In [72]:
print(inter)

{56, 90}

In [73]:
# Checking for disjoint
dis = set1.isdisjoint(set3)

Checks whether set1 and set3 are disjoint or not.

In [75]:
print(dis)

False

In [76]:
# Checking for subset
set2.issubset(set1)

True

Checks whether set2 is subset of set1 or not

In [77]:
#checking for superset
set1.issuperset(set2)

True

In [78]:
# Symmetric difference between two sets
sym_diff = set1.symmetric_difference(set3)

This returns all the elements from both sets that are not present in both.

In [80]:
print(sym_diff)

{1, 2, 5, 9, 99, 485, 43, 46}

In [81]:
# Union
un = set2.union(set3)

This returns the union of the two sets.

In [84]:
print(un)

{1, 99, 485, 9, 43, 46, 56, 90}

In [88]:
new_set ={'A','B',1}

In [89]:
# Updating a set
set1.update(new_set)

This updates the set set1 by the elements in new_set, repeated elements are excluded.

In [90]:
print(set1)

{1, 2, 5, 'B', 9, 43, 'A', 56, 90}

In [91]:
#Creating three dictionaries
dic1= {'k11':44,'k12':3,'k13':198,'k14':11}
dic2= {'k21':'Al Pacino','k22':'Robert Denero','k23':'John Lennon','k24':'Vivian Richards','k25':'Gary Sobers','k26':'John Denver'}
dic3= {'k31':11,'k32':'Mango'}

Dictionaries are essentially sets with index.

In [98]:
print(dic2)

{'k21': 'Al Pacino', 'k22': 'Robert Denero', 'k23': 'John Lennon', 'k24': 'Vivian Richards', 'k25': 'Gary Sobers', 'k26': 'John Denver'}

In [99]:
dir(dic1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [94]:
# Copying a dictionary
copy1 = dic1.copy()
print (copy1)

{'k11': 44, 'k12': 3, 'k13': 198, 'k14': 11}

Returns a copy in another dictionary.

In [97]:
# Removing all elements from a dictionary
copy1.clear()
print(copy1)

{}

clear() deletes all elements from a dictionary

In [102]:
#Getting values using keys
dic2.get('k24')

'Vivian Richards'

Grabbing values using keys from a dictionary.

In [104]:
# Getting all items from a dictionary
x = dic2.items()
print(x)

dict_items([('k21', 'Al Pacino'), ('k22', 'Robert Denero'), ('k23', 'John Lennon'), ('k24', 'Vivian Richards'), ('k25', 'Gary Sobers'), ('k26', 'John Denver')])

Grabbing all the items in a dictionary.

In [105]:
# Showing all the keys
print(dic1.keys())

dict_keys(['k11', 'k12', 'k13', 'k14'])

Returns all keys of a dictionary.

In [106]:
# Remove a particular value and show it
dic3.pop('k31')

11

Removes the value from the key and shows the values.

In [107]:
# All values from a dictionary
print(dic2.values())

dict_values(['Al Pacino', 'Robert Denero', 'John Lennon', 'Vivian Richards', 'Gary Sobers', 'John Denver'])

Returns just the values and not the keys.