In [10]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [2]:
dbs = mysql.connector.connect(host = "localhost",user="root",password="Crocin007")
print(dbs)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021D338D5700>

Creating a database

In [4]:
mycursor = dbs.cursor()
mycursor.execute("CREATE DATABASE train")

In [5]:
mycursor = dbs.cursor()
mycursor.execute("SHOW DATABASES")

In [6]:
for x in mycursor:
    print(x)

('assignmentdb',)
('bank',)
('flight',)
('handson',)
('information_schema',)
('loan',)
('mysql',)
('performance_schema',)
('practicedb',)
('sakila',)
('sys',)
('train',)
('training',)
('trialdatabase',)
('video',)
('world',)

In [7]:
# Using database train
mycursor = dbs.cursor()
mycursor.execute("USE train")

In [8]:
# Creating a table
mycursor = dbs.cursor()
mycursor.execute("CREATE TABLE info(id INT(10) PRIMARY KEY, name VARCHAR(25), age INT(10), address VARCHAR(200))")

In [9]:
# Reading the table
mycursor = dbs.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('info',)

In [10]:
# Updating the table
mycursor = dbs.cursor()
mycursor.execute("ALTER TABLE info ADD COLUMN salary INT(10)")

In [11]:
mycursor = dbs.cursor()
mycursor.execute("DESCRIBE info")

In [12]:
for x in mycursor:
    print(x)

('id', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(25)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('address', b'varchar(200)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')

In [13]:
# Deleting the table
mycursor = dbs.cursor()
mycursor.execute("DROP TABLE info")

In [14]:
mycursor = dbs.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)