<a href="https://colab.research.google.com/github/m-dwaipayan/CDB22DW022-Dwaipayan/blob/main/Python_Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

**DataFrames**

In [2]:
students = ['Alice','Bob','Emily','Charlie']

In [3]:
scores = [90,85,65,50]

In [4]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [5]:
exam_results

      name  scores
0    Alice      90
1      Bob      85
2    Emily      65
3  Charlie      50

Searching (SQL SELECT)

In [6]:
exam_results.loc[0,'scores']

90

In [7]:
exam_results.loc[:,'scores']

0    90
1    85
2    65
3    50
Name: scores, dtype: int64

In [8]:
exam_results.loc[2,:]

name      Emily
scores       65
Name: 2, dtype: object

In [9]:
exam_results['scores']

0    90
1    85
2    65
3    50
Name: scores, dtype: int64

In [10]:
exam_results[['name','scores']]

      name  scores
0    Alice      90
1      Bob      85
2    Emily      65
3  Charlie      50

Adding Columns

In [11]:
gender = ['female','male','female','male']

In [12]:
exam_results['gender'] = gender

In [13]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      85    male
2    Emily      65  female
3  Charlie      50    male

In [14]:
exam_results['scores']

0    90
1    85
2    65
3    50
Name: scores, dtype: int64

Remove Columns

In [15]:
exam_results.drop('name',axis=1)

   scores  gender
0      90  female
1      85    male
2      65  female
3      50    male

In [16]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      85    male
2    Emily      65  female
3  Charlie      50    male

Column Names and Row Index

In [17]:
exam_results.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [18]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

Renaming Columns

In [19]:
exam_results.rename({'name':'first_name'},axis=1)

  first_name  scores  gender
0      Alice      90  female
1        Bob      85    male
2      Emily      65  female
3    Charlie      50    male

Dealing with missing values

In [20]:
sparse = pd.DataFrame({'a': [1,2,3],
                       'b': [np.nan,4,np.nan],
                       'c': [5,np.nan,np.nan]})

In [21]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [22]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [23]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [24]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

Group by

In [25]:
exam_results.groupby('gender').mean()

        scores
gender
female    77.5
male      67.5

In [26]:
mylist = [1,2,1,2]
exam_results.groupby(mylist).get_group(1)

    name  scores  gender
0  Alice      90  female
2  Emily      65  female

In [27]:
exam_results.groupby(mylist).get_group(2)

      name  scores gender
1      Bob      85   male
3  Charlie      50   male

In [28]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

In [29]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      87.5

Merging and Joining

In [30]:
contacts = pd.DataFrame(
    {
        'name': ['Alice','Charlie'],
        'tel': ['+44 1234 5678','+44 3245 5564']
    }
)

In [32]:
exam_results.merge(contacts,left_on = 'name',right_on = 'name') # defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [33]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      85    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564