<a href="https://colab.research.google.com/github/m-dwaipayan/CDB22DW022-Dwaipayan/blob/main/Remove_duplicates_from_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
list1 = []
n = int(input("Enter number of elements: "))
for no in range(0,n):
  num = no + 1
  element = int(input("Enter number {}: ".format(num)))
  list1.append(element)

print("The original list is: {}".format(list1))

Enter number of elements: 6
Enter number 1: 2
Enter number 2: 88
Enter number 3: 91
Enter number 4: 91
Enter number 5: 45
Enter number 6: 88
The original list is: [2, 88, 91, 91, 45, 88]

In [18]:
new_list = []
for number in list1:
  if number not in new_list:
    new_list.append(number)

print(new_list)

[2, 88, 91, 45]