<a href="https://colab.research.google.com/github/m-dwaipayan/CDB22DW022-Dwaipayan/blob/main/Removing_duplicates_from_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
list1 = []
n = int(input("Enter number of elements: "))
for no in range(0,n):
  element = int(input())
  list1.append(element)

print(list1)

Enter number of elements: 6
45
45
32
142
142
142
[45, 45, 32, 142, 142, 142]

In [8]:
new_list = []
for number in list1:
  if number not in new_list:
    new_list.append(number)

print(new_list)

[45, 32, 142]